<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>budget</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <div class="container">
        
        <h1>Budgtr ALL</h1>
        <h4><%if (savings < 0){ %>
            your account is in the negative:
            <% } else if(savings >= 5000){ %>
            your account is in great standing:
            <% } %>
            <%= savings %> </h4>
        <button><a href="/budget/new">Add expense/income</a></button>
        <table>
            <% for(let i = 0; i < allBudget.length; i++) { %>
            <tr>
                <td>
                   <%=allBudget[i].date%>

                  <a href="/budget/<%=i%>"><%=allBudget[i].name%></a>

                   
                  <%=allBudget[i].from%>


                   <%=allBudget[i].amount%>

                   
                </td>
            </tr>
            
        

            <% } %>
        </table>

    </div>
</body>
</html>